<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sirh-kiosque-j2ee</display-name>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- Authentication handler -->
	<filter>
        <filter-name>AuthentificationFilter</filter-name>
        <filter-class>nc.noumea.mairie.kiosque.authentification.AuthentificationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthentificationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<listener>
		<description>
		Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session cleaner</display-name>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>
		The ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>auEngine</servlet-name> -->
<!-- 		<url-pattern>/sirh-kiosque-j2ee/zkau/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>index.zul</welcome-file>
	</welcome-file-list>

	<security-constraint>
        <web-resource-collection>
            <web-resource-name>sirh-kiosque-j2ee</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Role for SIRH-KIOSQUE-J2EE access</description>
        <!-- ROLE de controle d'acces a l'application SIRH-KIOSQUE-J2EE -->
        <!-- est ecris en dur dans le WEB.xml car il n'est pas parametrable par JNDI-->
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Exclusion des fichiers statiques jsp dont (Health Check) pour le Reverse Proxy-->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Fichiers statiques jsp</web-resource-name>
            <url-pattern>/404.jsp</url-pattern>
            <url-pattern>/incident.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/maintenance.jsp</url-pattern>
            <url-pattern>/version.jsp</url-pattern>
            <url-pattern>/favicon.ico</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>SIRH KIOSQUE en J2EE</realm-name>
    </login-config>

    <security-role>
        <description>role for SIRH-KIOSQUE-J2EE access</description>
        <!-- ROLE de controle d'acces a l'application SIRH-KIOSQUE-J2EE -->
        <!-- est ecris en dur dans le WEB.xml car il n'est pas parametrable par JNDI-->
        <role-name>*</role-name>
    </security-role>

	
    
    <!-- Handles Spring requests -->
    <servlet>
        <servlet-name>sirh-kiosque-j2ee</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/spring/webmvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>sirh-kiosque-j2ee</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
